body {
    background-color: #f2e9dd;
    font-family: 'Roboto Mono', Courier, monospace;
    color: #0E4358;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
main{
}
a{
    text-decoration: none;
}

.mobile_div_nav{
    /* controls the nav for the mobile page  */
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.mobile_div_top_buttons{
    display: flex;
    justify-content: space-between;

}

.div_textbox{
    display: flex;
}

textarea {
    resize: none;
    max-width: 100%;
    width: 1500px; 
    height: 200px;
    margin: 10px ;

  }

.mobile_div_bottom_buttons{
    display: flex;
    justify-content: flex-end;
    
}

.foot_KIT_LkIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_links{
    display: flex;
    
}

/* nav{
    font-weight: bold;
    text-align: right;
  } */

img {
    max-width: 100%;
    height: auto;
  }

button{
    border: 0;
    line-height: 2.5;
    padding: 2px 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

  .button_blue_note {
    background-color: #0E4358;
    padding: 1% 5%;
    margin: 10px;
  }
  .button_purple {
    background-color: #6e6987;
    padding: 1% 5%;
    margin: 10px;
  }
  .button_blue_save {
    background-color: #0E4358;
    padding: 1% 5%;
    margin: 10px;
  }
  .button_red {
    background-color: #d9827c;
    padding: 1% 5%;
    margin: 10px;
  }


  li{
    font-weight: bold;
    list-style-type: square;
  }



  .sidenav {
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #faf4ed;
    /* position: fixed; */
    /* height: 200px; */
    overflow: auto;
    border-top: black solid 2px ;
    border-bottom: black solid 2px ;
  }
  

  /* @media screen and (max-width: 700px) {
    .sidenav {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .button_blue_note {
    background-color: red;
    padding: 1% 5%;
    margin: 10px;