body {
    background-color: #f2e9dd;
    font-family: 'Roboto Mono', Courier, monospace;
    color: #0E4358;
}
main{
    display: flex;
    height: 100vhgit;
}
a{
    text-decoration: none;
}

/* .f1 {
    font-family: 'Roboto Mono', Courier, monospace;
    color: #0E4358; 
} */

img {
    max-width: 100%;
    height: auto;
  }

  .button_blue {
    border: 0;
    line-height: 2.5;
    padding: 2px 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #0E4358;
  }
  
  .button_red {
    border: 0;
    line-height: 2.5;
    padding: 2px 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #d9827c;
  }
  .button_purple {
    border: 0;
    line-height: 2.5;
    padding: 2px 15px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #6e6987;
  }

  li{
    font-weight: bold;
    list-style-type: square;
  }

  nav{
    font-weight: bold;
  }

  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #faf4ed;
    overflow-x: hidden;
  }

  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
